.item {
    display: grid;

    grid-template-areas:
        "u u"
        "m";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 10fr;
}

.item img {
    width: 50px;
    border-radius: 50px;
}

.userInfo {
    grid-area: u;
}

.message {
    grid-area: m;
}

